/** Google Font Lato Import  ***/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

body{
	font-family: 'Lato', sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
header{
	background: #f6f9f9;
	padding: 20px 0;
}
.banner{
	background: url(../image/banner.png) no-repeat center;
	background-size: cover;
	padding: 100px 0;
}
.banner h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 700;            /* highest font weight 100,200,400,700,900 deao jabe*/
}
.s-border{
	border: 1px solid #15a4fa;
	margin: 0 auto;
	width: 50%;
}
.banner p{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 20px;
}
.banner .btn-banner{
	border: 1px solid #15a4fa;
	color: #fff;
	padding: 10px 25px;
	display: block;
	margin: 75px 470px 100px;	
}
.banner .btn-banner:hover{
	background: #15a4fa;
	color: #fff;
}

/*************Simple Section ************/
.simple h2{
	text-align: center;
	color: #2d3950;	
	font-size: 30px;
	padding: 30px 0;
}
.simple p{

   line-height: 30px;
	text-align: center;
	color: #999999;
}
/*************Simple Section ************/


/*************Optimize Device  Start************/
.optimization{
	padding: 75px 0;
}
.optimization img{
	display: block;
	margin: 0 auto 15px;
}
.optimization h3{
	text-align: center;
	font-size: 28px;
	color: #3b465c;
}
.optimization p{
	text-align: center;
	color: #999999;
}
.fa-angle-down{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 35px;
	margin-top: 80px;
}
/*************Optimize Device End ************/

/*************Portfoli Start*****************/
.portfolio{
	background-color: #f6f9f9;
 	padding: 75px 0;
}
.portfolio_box{
	margin-top: 30px;
}
.portfolio h2{
	text-align: center;
	color: #3a465b;
}
.portfolio p{
	text-align: center;
	color: #abacac;
}
.portfolio .portfolio-image{
	margin-bottom: 20px;
    position: relative;
}
.portfolio-hover{
	position: absolute;
	background: rgb(39,162,240,0);   /** attribute range 0 to 1 as opacity **/
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.portfolio-hover ul{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    top: 40%;
}
.portfolio-hover ul li{
	list-style: none;
	display: inline;
}
.portfolio-hover .fa{
	color: #fff;
	border:2px solid #fff;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;   /**icon middle ase***/
	font-size: 20px;
	opacity: 0;   /**fa ar icon ar opacity off, hover kore on korte hbe***/
}

.portfolio-image:hover .portfolio-hover{
	background: rgb(39,162,240,.8);
	cursor: pointer;
}
.portfolio-image:hover .fa{
	opacity: 1;
}
/****************Portfoli End******************/


/***************  Content Part Start  ***********/

.footer-sec{
	padding: 75px 0;
	background: url(../image/road.png) no-repeat center;
	background-size: cover;
}
.footer-sec h2{
	color: #fff;
	text-align: center;
	font-size: 45px;
}
.footer-sec p{
	color: #929294;
	text-align: center;
}
.footer-sec textarea.form-control{
	height: 175px;
}
.footer-sec-stay{
	padding: 30px;
}
.form-group .btn-submit{
	padding: 7px 12px;
	border:1px solid skyblue;
	float: right;
	color: #fff;
}
.form-group .btn-submit:hover{
	background:skyblue;
	cursor: pointer;
	color: #fff;
	transition-duration: 2s;
}
.form-check{
	margin-top: 20px;
}
.form-check label{
	color: #fff;
	
}
.footer-sec .form-control{
	height: 45px;
	background: transparent;     /****** Text ar color fadding kora *********/
}
/*********************Content Part End **************/


/**************  Footer Part Start   **************/
footer{
	padding: 20px;
}
footer p{
	color: #999999;
}

.social-media{
	float: right;
}
.social-media ul{
    padding: 0;     /*****   ul a default space thakte ta null kora  **********/
}
.social-media ul li{
	list-style: none;
	display: inline;
}
.social-media .fa{
     width: 50px;
     height: 40px;
     border:1px solid skyblue;
     line-height: 40px;
     background:#15a4fa;
     text-align: center;
     color: #3443
     font-size:18px;
     margin-left: 5px;
     border:3px solid skyblue;
     border-radius: 3px;
}

/*************   Footer Part End  *****************/



/********    MEDIA Connection   ********************/
@media (min-width: 0px) and (max-width: 500px){
	section{
		overflow: hidden;
	}
.banner h1{
	font-size: 85px;
	font-weight: 700;           /* highest font weight 100,200,400,700,900 deao jabe*/
}
.banner .fa{
	margin-left: 130px;
}
footer p{
	margin-left: 42px;
}
.banner {
	padding: 60px 0;
}
p{
	font-size: 15px;
}
}